provider "docker" {
  host = "unix:///run/docker.sock"
}

resource "docker_container" "${container_name}" {
  image = docker_image.${dist_name}.latest
  name = "${container_name}"
  must_run = true
  command = ["/run.sh",]
  volumes {
    host_path = "${work_dir}/run.sh"
    container_path = "/run.sh"
  }
}

data "docker_registry_image" "${dist_name}" {
  name = "${image_arch}/${dist_name}:${dist_version}"
}

resource "docker_image" "${dist_name}" {
  name          = data.docker_registry_image.${dist_name}.name
  pull_triggers = [data.docker_registry_image.${dist_name}.sha256_digest]
  keep_locally = true
}
