provider "docker" {
  host = "unix:///run/docker.sock"
}

resource "docker_container" "${container_name}" {
  image = docker_image.${dist_name}.image_id
  name = "${container_name}"
  must_run = true
  command = ["sleep", "21600"]
  env = [
% if http_proxy:
    "http_proxy=${http_proxy}",
% endif
% if https_proxy:
    "https_proxy=${https_proxy}",
% endif
% if no_proxy:
    "no_proxy=${no_proxy}",
% endif
  ]
% if external_network:
  networks_advanced {
    name = "${external_network}"
  }
  dns = ["1.1.1.1", "8.8.8.8"]
% endif
}

resource "docker_image" "${dist_name}" {
  name         = "${image_name}"
  platform     = "${image_platform}"
  keep_locally = true
}

output "container_id" {
  value = docker_container.${container_name}.id
}
