variable "one_endpoint" {}
variable "one_username" {}
variable "one_password" {
  sensitive = true
}

provider "opennebula" {
  endpoint      = var.one_endpoint
  username      = var.one_username
  password      = var.one_password
}

data "opennebula_virtual_network" "test_system_network" {
  name = "${opennebula_network}"
}

data "opennebula_template" "selected_template" {
  id = ${template_id}
}

locals {
  disk_0 = data.opennebula_template.selected_template.disk[0]
  disk_size = max(
    local.disk_0.size,        # Original disk size from template
    15360,                    # Minimum required size
    local.disk_0.size + 5120  # Original size + 5GB
  )
}

resource "opennebula_virtual_machine" "${vm_name}" {
  name = "${vm_name}"
  template_id = ${template_id}
  permissions = "660"
  group = "${opennebula_vm_group}"
  memory = "${vm_ram_size}"

  cpumodel {
    model = "host-passthrough"
  }
  disk {
    image_id = local.disk_0.image_id
    size = local.disk_size
    target = "sda"
  }
  nic {
    network_id = data.opennebula_virtual_network.test_system_network.id
    model      = "virtio"
  }

  context = {
    NETWORK      = "YES"
    HOSTNAME     = "${vm_name}.test.com"
    SSH_PUBLIC_KEY = "$USER[SSH_PUBLIC_KEY]"
  }
}

output "vm_ip" {
  value = opennebula_virtual_machine.${vm_name}.ip
}

output "vm_id" {
  value = opennebula_virtual_machine.${vm_name}.id
}

output "disk_size" {
  value = local.disk_size
}
